#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
#Terminal=true
Icon[en_US]=/usr/share/pixmaps/display.xpm
Name[en_US]=Disable 3D
Exec=/etc/alternatives/x-terminal-emulator -e /home/oem/freeitathenscode/QC_Process/disable_3d.sh
#Exec=/home/oem/freeitathenscode/QC_Process/disable_3d.sh
Comment[en_US]=Generate xorg.conf with DRI disabled
Name=Disable 3D
Comment=Generate xorg.conf with DRI disabled
Icon=/usr/share/pixmaps/display.xpm

