[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=eom
Name[en_US]=Quality Control
Exec=/etc/alternatives/x-terminal-emulator -e /home/oem/freeitathenscode/QC_Process/QC.sh
Comment[en_US]=Run in oem desktop, typically following successful imaging
Name=Quality Control
Comment=Run in oem desktop, typically following successful imaging
Icon=eom
GenericName[en_US.UTF-8]=Free I.T. Athens Quality Control Tests
