#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=/usr/share/icons/Mint-X/apps/scalable/gdm-setup.svg
Name[en_US]=Quality Control
Exec=/etc/alternatives/x-terminal-emulator -e /home/oem/freeitathenscode/QC_Process/QC.sh
Comment[en_US]=Ensure machine is within FreeIT guidelines
Name=Quality Control
Comment=Ensure machine is within FreeIT guidelines
Icon=/usr/share/icons/Mint-X/apps/scalable/gdm-setup.svg
GenericName=
#/usr/share/icons/elementary/stock/32/stock_person.svg
#/usr/share/icons/Humanity/stock/48/stock_person.svg

