#!/usr/bin/env xdg-open

[Desktop Entry]
Name=Quality Control
Name[en_US]=Quality Control
Comment=Ensure machine meets Free I.T. requirements
Comment[en_US]=Ensure machine meets Free I.T. requirements
Version=1.0
Type=Application
Icon=/usr/share/icons/Mint-X/apps/scalable/mame.svg
Icon[en_US]=/usr/share/icons/Mint-X/apps/scalable/amnesia-dark-decent.svg
Exec=/etc/alternatives/x-terminal-emulator -e /home/oem/freeitathenscode/QC_Process/QC.sh
Terminal=false
GenericName=Quality Control
GenericName[en_US.UTF-8]=Free I.T. Athens Quality Control Tests

