#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=mate-panel-launcher
Name[en_US]=Prepare for End User
Exec=/usr/sbin/oem-config-prepare
Comment[en_US]=Click Here when Quality Control Testing has successfully completed
Name=Prepare for End User
Comment=Click Here when Quality Control Testing has successfully completed
Icon=/usr/share/icons/gnome-colors-common/scalable/emblems/emblem-package.svg
