#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=/usr/share/icons/Mint-X/apps/scalable/amnesia-dark-decent.svg
Name[en_US]=Quality Control
Exec=/etc/alternatives/x-terminal-emulator -e /home/oem/freeitathenscode/QC_Process/QC.sh
Comment[en_US]=Ensure machine meets Free I.T. requirements
Name=Quality Control
Comment=Ensure machine meets Free I.T. requirements
Icon=/usr/share/icons/Mint-X/apps/scalable/mame.svg
GenericName=Quality Control
#Lubuntu choices:
#/usr/share/icons/{elementary,Humanity}/stock/{48,32,24,22,16}/stock_person.svg

